{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {{ slider_render('/cms/slider/slider1') }}
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">{{ block_render('/cms/block/block1') }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">{{ block_render('/cms/block/block2') }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">{{ block_render('/cms/block/block3') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
